.loaderContainer {
  width: 830px;
  height: 380px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(131, 166, 240, 0.54);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}
